@mixin heading1 {
  font-size: 3rem;
  font-family: $font-1;
  color: white;
}

@mixin heading2 {
  font-size: 1.25rem;
  font-family: $font-2;
  text-transform: uppercase;
  color: $color-dark;
  word-spacing: 1.5px;
  letter-spacing: 1px;
}

@mixin paragraph {
  color: $color-grey-1;
  font-size: 1rem;
  font-family: $font-1;
  margin-top: 1rem;
}