@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');

$color-primary: #4C83FF;
$color-secondary: #DAA932;
$color-grey-1: #C6C5C4;
$color-light: #FFFFFF;
$color-grey-2: #5F5C55;
$color-dark: #324865;

$font-1: 'Poppins', sans-serif;
$font-2: 'Open Sans', sans-serif;