@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 70%;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 10rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
}

.features {
  padding: 5rem 0;
  width: 100vw;
}

.feature {
  width: 100%;
}

.feature h2 {
  text-align: center;
}

.feature p {
  color: #6F7982;
  text-align: center;
  line-height: 1.1;
}

.feature-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100vh;
  width: 100%;
}

.feature-section img {
  height: 100%;
  width: 100%;
}

.feature-section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.feature-section__info p {
  padding: 0 5rem;
  text-align: start;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  word-spacing: 1.2px;
}

.user-reviews {
  background: -webkit-gradient(linear, left top, right bottom, from(#7464FD), to(#5851EA));
  background: linear-gradient(to right bottom, #7464FD, #5851EA);
  height: 80%;
  width: 100vw;
  padding: 5rem 2rem;
}

.user-reviews h2 {
  text-align: center;
  color: white;
}

.user-reviews__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.review {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  position: relative;
  margin: 3rem 0;
}

.review p {
  color: #324865;
  font-size: 1rem;
}

.review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.review-info img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  margin-right: 1rem;
}

.review-info__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review .quote {
  position: absolute;
  top: 0;
  left: 45%;
  margin-top: -6.5%;
  width: 14.5%;
  height: 25%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background: white;
}

.review .quote q {
  quotes: "“" "”" "‘" "’";
  height: 5%;
  color: black;
}

.partners {
  padding: 3rem 0;
  height: 50vh;
}

.partners h2 {
  opacity: .5;
  text-align: center;
}

.partners-company {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-column-gap: 2rem;
  opacity: .4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.partners-company img {
  width: 80%;
}

.news-letter {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.news-letter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

.news-letter .form input {
  border-radius: 50px;
  border: 1px solid grey;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-right: 1rem;
  width: 25rem;
}

.news-letter .form button {
  padding: .5rem 1rem;
}

.main-text {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

.sub-text {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #324865;
  word-spacing: 1.5px;
  letter-spacing: 1px;
}

.p-text {
  color: #C6C5C4;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

.p-text-dark {
  color: #C6C5C4;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  color: #4C83FF;
}

.btn {
  border: none;
  padding: .9rem 1.25rem;
  font-size: 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-7.5%);
          transform: translateY(-7.5%);
}

.btn-primary {
  background: white;
  color: black;
}

.btn-plain {
  background: none;
  border-bottom: 2px solid white;
  color: white;
}

.btn-secondary {
  background: -webkit-gradient(linear, left top, right bottom, from(#7464FD), to(#5851EA));
  background: linear-gradient(to right bottom, #7464FD, #5851EA);
  color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(88, 81, 234, 0.2);
          box-shadow: 0px 10px 20px rgba(88, 81, 234, 0.2);
}

.btn-rounded {
  border-radius: 15px;
}

.btn-box {
  border-radius: 5px;
}

.btn-border {
  border: none;
  background: none;
  padding: 0 .2rem;
}

.card {
  background: white;
}

.card-1 {
  border-top-left-radius: 50px;
}

.card-2 {
  border-bottom-right-radius: 50px;
}

.header {
  background: -webkit-gradient(linear, left top, right bottom, from(#7464FD), to(#5851EA));
  background: linear-gradient(to right bottom, #7464FD, #5851EA);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.header img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  z-index: 100;
  margin-top: 7.5%;
}

.header-info h1 {
  text-align: center;
}

.header-info__actions {
  margin-top: 5%;
}

.header-menu {
  width: 100%;
  height: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  position: absolute;
  top: 0;
  left: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__logo {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #324865;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  color: white;
}

.header-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__links a {
  font-size: 1.5rem;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  text-decoration: none;
  font: "Open Sans", sans-serif;
}

footer {
  background: -webkit-gradient(linear, left top, right bottom, from(#7464FD), to(#5851EA));
  background: linear-gradient(to right bottom, #7464FD, #5851EA);
  width: 100vw;
  padding: 5rem 0;
  position: relative;
}

footer .footer-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 2rem;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}

.footer-links h2 {
  color: white;
  margin-bottom: 1rem;
}

.footer-links p {
  margin-bottom: 1rem;
  color: white;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-bottom: .35rem;
}

.footer hr {
  height: 4px;
  color: white;
  padding: 0 5rem;
  width: 80%;
}

.social-icons {
  width: 80%;
}

.text-footer {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 1rem;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */