.btn {
  border: none;
  padding: .5rem 1.1rem;
  font-size: .7rem;

  &-primary {
    $background: white;
    color: black
  }

  &-plain {
    background: none;
    border-bottom: 2px solid white;
    color: white;
  }

  &-secondary {
    background: $color-secondary;
    color: white;
  }

  &-rounded {
    border-radius: 15px;
  }

  &-box {
    border-radius: 5px;
  }

  &-border {
    border: none;
    background: none;
    padding: 0 .2rem;
  }
}