.btn {
  border: none;
  padding: .75rem 1.25rem;
  font-size: 1rem;
  transition: all .3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(black, .2);
    transform: translateY(-7.5%);
  }

  &-primary {
    background: white;
    color: black
  }

  &-plain {
    background: none;
    border-bottom: 2px solid white;
    color: white;
  }

  &-secondary {
    background: linear-gradient(to right bottom, #7464FD, #5851EA);
    color: white;
    box-shadow: 0px 10px 20px rgba(#5851EA, .2);
  }

  &-rounded {
    border-radius: 15px;
  }

  &-box {
    border-radius: 5px;
  }

  &-border {
    border: none;
    background: none;
    padding: 0 .2rem;
  }
}